
<div class="bg-success">


  <h1 class="text-center">PATRICK'S RESUME</h1>

  <div class="text-center">
    <img src="https://scontent.fmnl30-1.fna.fbcdn.net/v/t39.30808-6/333644946_221897843630603_6339331233174408934_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=efb6e6&_nc_ohc=Bu1H9u1hXYAAX83tERv&_nc_ht=scontent.fmnl30-1.fna&oh=00_AfDbUkKWwCt8v-NerPZQdpH8L5e02pXOrIoAn1CimCsYng&oe=65B1527F" class="img-circle" style="width: 250px;">
  </div>
  <br>


  
<div class="bg-info"> 
  <div class="container">
<div class="text-center">
    <div class="row">
      <div class="col-sm-6">
          <app-personal></app-personal>
              <app-contact></app-contact>
      </div>

        <div class="col-sm-6">
            <app-educ></app-educ>
            <app-work></app-work>
        </div>
    </div>
  </div>
</div>


</div>



